# This is a basic workflow to help you get started with Actions

name: Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  Checks on update_available:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: update_available
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - run: flutter pub get
    - run: flutter format -o show -l 200 --set-exit-if-changed .
    - run: flutter analyze --no-pub --no-congratulate
  Checks on update_available_android:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: update_available_android
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - run: flutter pub get
    - run: flutter format -o show -l 200 --set-exit-if-changed .
    - run: flutter analyze --no-pub --no-congratulate
  Checks on update_available_ios:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: update_available_ios
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - run: flutter pub get
    - run: flutter format -o show -l 200 --set-exit-if-changed .
    - run: flutter analyze --no-pub --no-congratulate
  Checks on update_available_platform_interface:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: update_available_platform_interface
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    - run: flutter pub get
    - run: flutter format -o show -l 200 --set-exit-if-changed .
    - run: flutter analyze --no-pub --no-congratulate
